# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Database
store/*

# logs

logs/*

# OS files
.DS_Store



sync/*.sql

store/*.sh


api/toy_data.py